.Padre { /* 100% de la altura de la pantalla */
  display: flex;
  flex-direction: column;
    text-align: center;
    width: 80%;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    color:beige;
    
  
    
  }
  .Padre fieldset { /* 100% de la altura de la pantalla */
    width: 35%;
    display: flex;
    flex-direction:column;
    align-items: center;
    height: fit-content;
    border-radius: 15px;
    border: 3px solid white;
    background-color: red;
    }

 .Padre button {
  margin: 5px;
  background-color: #4C779A;
  padding: 5px;
  border: none;
  color: white;
  border-radius: 3px;
}

input {
  border: 1px solid white;
}

.Padre .Crear{
  margin: 5px;
  background-color:#E7B806;
  padding-left: 5px;
  padding-right: 5px;
  color:beige
}
h4{
  margin:0px;
}
.Padre button:hover {
  background-color: #29689b;
  transform: scale(1.2);
  font-weight: 700;
}
p{
  color: indigo;
  font-weight: 900;
}